@model IEnumerable<Inventory.Core.DomainModels.Fruit>

@{
    ViewData["Title"] = "Groceries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Groceries</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.HiddenFor(modelItem => item.Name)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
                @Html.HiddenFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
                @Html.HiddenFor(modelItem => item.QuantityInStock)
            </td>
        </tr>
}
    </tbody>
</table>
